body {
  font-size: .875rem;
  overflow: hidden;
  color:#202123!important;
  background:#202123!important;
}

.feather,
.sidebar .iconify{
  width: 16px;
  height: 16px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  height: calc(100vh - 48px);
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 4.17em;
  margin-right: 1.67em;
  margin-bottom: 2em;
  margin-left: 1.67em;
  padding: 0 6px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.83em;
  background-color: transparent;
  box-shadow: -4px -4px 10px 0 rgb(19 20 21 / 20%), -4px -4px 8px 0 rgb(19 20 21 / 20%), -4px -4px 8px 0 rgb(45 46 49 / 90%), 4px -4px 8px 0 rgb(19 20 21 / 90%);
  color: #FFFFFF;
}

.org-shadow{
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072),
      0 41.8px 33.4px rgba(0, 0, 0, 0.086),
      0 100px 80px rgba(0, 0, 0, 0.12);
}

.sidebar .nav-link:hover {
  color:#FFFFFF;
}

.sidebar .nav-link ,
.sidebar .nav-link {
  color: #727272;
}

.sidebar .nav-link .span {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #FFFFFF;
  border-left: 0.05em solid #bf8a00;
  background-color: transparent;
  box-shadow: inset -1px -1px 2px 0 rgb(13 13 14 / 20%), inset -1px -1px 2px 0 rgb(13 13 14 / 20%), inset -1px -1px 2px 0 rgb(51 53 56 / 90%), inset 1px -1px 3px 1px rgb(13 13 14 / 90%);
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.small-sm{
  font-size: 90%;
  font-weight: 500;
}
